.navbar-styled {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    font-size: large;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    span {
        background: var(--gradient);
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }
}